# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
bdata/.gitignore
bdata/.mvn/
bdata/mvnw
bdata/mvnw.cmd

*.log

src/main/resources/static/test/
src/main/resources/static/x-data/css/iconfont.css
src/main/resources/templates/
