<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('卡片组件')"/>
</head>
<body>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">卡片标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="realName" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">卡片名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">
        卡片列表
    </div>
    <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
    </div>
</div>
</body>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery', 'card'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let card = layui.card;
        let MODULE_PATH = "/system/card/";
        card.render({
            elem: '#user-table',
            url: MODULE_PATH + "data"
        })

    })
    function jumpUrl(id) {
        console.log(id);
        window.open( " https://www.bilibili.com/video/" + id);
    }
</script>
</body>
</html>