<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/x-data/css/font.css}">
    <link rel="stylesheet" th:href="@{/x-data/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/x-data/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/x-data/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/x-data/js/jquery.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">视频播放量</div>
                <div class="layui-card-body" style="min-height: 280px;">
                    <div id="main1" class="layui-col-sm12" style="height: 300px;"></div>
                </div>
            </div>
        </div>

        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">视频三连数量</div>
                <div class="layui-card-body" style="min-height: 280px;">
                    <div id="main2" class="layui-col-sm12" style="height: 300px;"></div>

                </div>
            </div>
        </div>

        <div class="layui-col-sm12 layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">视频比例(采用了平均值)</div>
                <div class="layui-card-body" style="min-height: 280px;">
                    <div id="main3" class="layui-col-sm12" style="height: 300px;"></div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>

<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js" type="text/javascript"></script>
<script>
    //求数组的平均值
    var avg = function (array) {
        //将array的长度赋给len
        var len = array.length;
        var sum = 0;
        //利用for循环遍历数组的内容，利用sum累加求和
        for (var i = 0; i < len; i++) {
            sum += array[i];
        }
//        返回数组的和与长度求平均值
        return sum / len;
    }

    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('main1')); //未获取数据前，显示loading加载动画
    var option1 = {
        grid: {
            top: '5%',
            right: '1%',
            left: '1%',
            bottom: '10%',
            containLabel: true
        },
        tooltip: {
            trigger: 'axis'
        },


        xAxis: {
            type: 'category',
            data: ['第一天', '第二天', '第三天', '第四天', '第五天', '第六天', '第七天']
        },

        yAxis: {
            type: 'value'
        },
        series: []
    };

    // 使用刚指定的配置项和数据显示图表。
    function bindData1() {
        //异步加载数据,get请求我们刚刚准备的json文件,正式开发中调用相应的接口
        $.get("/BVideoData", {
            "bvNumber": localStorage.getItem("bvNumber")
        }, function (data) {
            var Item = function () {
                return {
                    name: '',
                    type: 'line',
                    data: [],
                    smooth: true
                }
            };
            var series = [];
            var bvViewnum = [];
            var data2 = data.data;
            for (var flag in data2) {
                bvViewnum.push(parseInt(data2[flag].bvViewnum));
            }
            var it = new Item();
            it.name = '播放量';
            it.data = bvViewnum;
            series.push(it);
            option1.series = series;
            myChart1.setOption(option1);
        })
    }

    bindData1();
    myChart1.setOption(option1);

    // 基于准备好的dom，初始化echarts实例
    var myChart2 = echarts.init(document.getElementById('main2'));

    // 指定图表的配置项和数据
    var option2 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        grid: {
            top: '5%',
            right: '2%',
            left: '1%',
            bottom: '10%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: ['第一天', '第二天', '第三天', '第四天', '第五天', '第六天', '第七天']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: []


    };

    // 使用刚指定的配置项和数据显示图表。
    function bindData2() {
        //异步加载数据,get请求我们刚刚准备的json文件,正式开发中调用相应的接口
        $.get("/BVideoData", {
            "bvNumber": localStorage.getItem("bvNumber")
        }, function (data) {
            var Item = function () {
                return {
                    name: '',
                    type: 'line',
                    data: [],
                    areaStyle: {normal: {}},
                    smooth: true
                }
            };
            var series = [];
            var bvCollectnum = []
            var bvCoinnum = []
            var bvLikenum = []
            var data2 = data.data;
            for (var flag in data2) {
                bvCollectnum.push(parseInt(data2[flag].bvCollectnum));
                bvCoinnum.push(parseInt(data2[flag].bvCoinnum));
                bvLikenum.push(parseInt(data2[flag].bvLikenum));
            }
            var it1 = new Item();
            it1.name = '收藏数量';
            it1.data = bvCollectnum;
            series.push(it1);
            var it2 = new Item();
            it2.name = '硬币数量';
            it2.data = bvCoinnum;
            series.push(it2);
            var it3 = new Item();
            it3.name = '点赞数量';
            it3.data = bvLikenum;
            series.push(it3);
            option2.series = series;
            console.log(series);
            myChart2.setOption(option2);
        })
    }

    bindData2();
    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option2);


    // 基于准备好的dom，初始化echarts实例
    var myChart3 = echarts.init(document.getElementById('main3'));

    // 指定图表的配置项和数据
    var option3 = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['点赞数量', '收藏数量', '硬币数量', '分享数量', '评论数量']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '75%',
                center: ['50%', '50%'],
                data: [],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    function bindData3() {
        //异步加载数据,get请求我们刚刚准备的json文件,正式开发中调用相应的接口
        $.get("/BVideoData", {
            "bvNumber": localStorage.getItem("bvNumber")
        }, function (data) {
            var Item = function () {
                return {
                    value: 0,
                    name: ''
                }
            };
            var datanum = [];

            var bvCollectnum = [];
            var bvCoinnum = [];
            var bvLikenum = [];
            var bvSharenum = [];
            var bvViewnum = [];
            var data2 = data.data;
            for (var flag in data2) {
                bvCollectnum.push(parseInt(data2[flag].bvCollectnum));
                bvCoinnum.push(parseInt(data2[flag].bvCoinnum));
                bvLikenum.push(parseInt(data2[flag].bvLikenum));
                bvSharenum.push(parseInt(data2[flag].bvLikenum));
                bvViewnum.push(parseInt(data2[flag].bvLikenum));
            }
            var bvCollectnumArray = new Item();
            var bvCoinnumArray = new Item();
            var bvLikenumArray = new Item();
            var bvSharenumArray = new Item();
            var bvViewnumArray = new Item();
            bvCollectnumArray.name = '收藏数量';
            bvCoinnumArray.name = '硬币数量';
            bvLikenumArray.name = '点赞数量';
            bvSharenumArray.name = '分享数量';
            bvViewnumArray.name = '评论数量';
            bvCoinnumArray.value = avg(bvCoinnum);
            bvCollectnumArray.value = avg(bvCollectnum);
            bvLikenumArray.value = avg(bvLikenum);
            bvSharenumArray.value = avg(bvSharenum);
            bvViewnumArray.value = avg(bvViewnum);
            datanum.push(bvCollectnumArray);
            datanum.push(bvCoinnumArray);
            datanum.push(bvLikenumArray);
            datanum.push(bvSharenumArray);
            datanum.push(bvViewnumArray);
            option3.series[0].data = datanum;
            myChart3.setOption(option3);
        })
    }

    bindData3();
    // 使用刚指定的配置项和数据显示图表。
    myChart3.setOption(option3);

    console.log(localStorage.getItem("bvNumber"))

</script>

</body>
</html>