<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.bdata.mapper.BVideoRankMapper">

    <resultMap type="com.site.bdata.entity.BVideoRank" id="BVideoRankMap">
        <result property="bvNumber" column="BV_NUMBER" jdbcType="VARCHAR"/>
        <result property="bvUp" column="BV_UP" jdbcType="VARCHAR"/>
        <result property="bvTitle" column="BV_TITLE" jdbcType="VARCHAR"/>
        <result property="bvScore" column="BV_SCORE" jdbcType="VARCHAR"/>
        <result property="bvRankzone" column="BV_RANKZONE" jdbcType="INTEGER"/>
        <result property="bvRanknum" column="BV_RANKNUM" jdbcType="INTEGER"/>
        <result property="bvUpuuid" column="BV_UPUUID" jdbcType="VARCHAR"/>
        <result property="bvTime" column="BV_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>


   
    

</mapper>