<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.common.mapper.BAuthorDataMapper">

    <resultMap type="com.site.common.entity.BAuthorData" id="BAuthorDataMap">
        <result property="bvUpuuid" column="bv_upuuid" jdbcType="INTEGER"/>
        <result property="bvUpFollower" column="bv_up_follower" jdbcType="INTEGER"/>
        <result property="bvUpLikes" column="bv_up_likes" jdbcType="INTEGER"/>
        <result property="bvUpView" column="bv_up_view" jdbcType="INTEGER"/>
    </resultMap>


</mapper>