<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.common.mapper.BAuthorBasedataMapper">

    <resultMap type="com.site.common.entity.BAuthorBasedata" id="BAuthorBasedataMap">
        <result property="bvUpuuid" column="BV_UPUUID" jdbcType="INTEGER"/>
        <result property="bvUpFollower" column="BV_UP_FOLLOWER" jdbcType="INTEGER"/>
        <result property="bvUpLikes" column="BV_UP_LIKES" jdbcType="INTEGER"/>
        <result property="bvUpView" column="BV_UP_VIEW" jdbcType="INTEGER"/>
    </resultMap>


</mapper>